.example-card {
  width: 40%;
  margin: auto;
 display: block;
 margin-top: 100px;
 display: block;
 text-align: center;
}

.example-form {
 display: inline-block;
 margin: auto;
}

mat-form-field {
  margin-right: 12px;
}
