
.example-card {
  width: 450px;
  height: 500px;
  align-self: center;
 }


mat-form-field {
  margin-right: 12px;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  //align-items: center;

}
.wrapper-0 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}
.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;


}

.wrapper-2 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.height-control {
margin-top: 100px;
}

h1 {
  color: rgb(14,77,146);
  font-family: sans-serif;
}

img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}


