<div class="container">
  <mat-card class="example-card">
    <form>
      <div class="wrapper-0">
        <h1>Gomiwara no Mail</h1>
        <img src ="" alt="Mail Icon">
        <h2>Create your new Email service</h2>
        <h3>Go to email</h3>
      </div>
      <div class="height-control">
        <div class="wrapper">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Email</mat-label>

            <input matInput placeholder="Type Your email" />
            <mat-icon aria-hidden="false" aria-label=" icon" matSuffix
              >mail_outline</mat-icon
            >
          </mat-form-field>
        </div>
        <div class="wrapper">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Type Your Password" />
            <mat-icon
              *ngIf="!viewPassword"
              aria-hidden="false"
              aria-label=" icon"
              matSuffix
              (click)="(!viewPassword)"
              >visibility_off</mat-icon
            >
            <mat-icon
              *ngIf="viewPassword"
              aria-hidden="false"
              aria-label=" icon"
              matSuffix
              (click)="(!viewPassword)"
              >visibility</mat-icon
            >
          </mat-form-field>
        </div>
        <div class="wrapper-2">
          <button mat-button color="primary" class="mat-button">
            Create Account
          </button>
          <button mat-raised-button color="primary" class="mat-button">
            Confirm Password
          </button>
        </div>
      </div>
    </form>
  </mat-card>
</div>
