<div class="container">
  <mat-card class="example-card">
    <form [formGroup]="form">
      <div class="wrapper-0">
        <h1>Gomiwara no Mail</h1>
        <h2>Create your new Email service</h2>
        <h3>Go to email</h3>
      </div>
      <div class="height-control">
        <div class="wrapper">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Email</mat-label>

            <input
              matInput
              placeholder="Type Your email"
              formControlName="email"
            />
            <mat-error
              *ngIf="
                form.controls.email.hasError('email') &&
                !form.controls.email.hasError('required')
              "
              >Invalid email input</mat-error
            >
            <mat-error
              *ngIf="
                !form.controls.email.hasError('email') &&
                form.controls.email.hasError('required')
              "
              >Email is required</mat-error
            >

            <mat-icon aria-hidden="false" aria-label=" icon" matSuffix
              >mail_outline</mat-icon
            >
          </mat-form-field>
        </div>
        <div class="wrapper">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input
              matInput
              [type]="hidePassword ? 'password' : 'text'"
              placeholder="Type Your Password"
              formControlName="password"
            />
            <mat-error
              *ngIf="
                form.controls.password.hasError('minlength') &&
                !form.controls.password.hasError('required')
              "
              >Password must have at least 8 digits</mat-error>
            <mat-error
              *ngIf="
                !form.controls.password.hasError('email') &&
                form.controls.password.hasError('required')
              "
              >Password is required</mat-error
            >
            <button
              mat-icon-button
              matSuffix
              (click)="hidePassword = !hidePassword"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hidePassword"
            >
              <mat-icon aria-hidden="false" aria-label=" icon" matSuffix>
                {{ hidePassword ? "visibility_off" : "visibility" }}</mat-icon
              >
            </button>

          </mat-form-field>
        </div>
        <div class="wrapper-2">
          <button mat-button color="primary" class="mat-button" (click)="navigateToRegistrationPage()">
            Create Account
          </button>
          <button
            mat-raised-button
            color="primary"
            class="mat-button"
            type="submit"
            (click)="onSubmit()"
          >
            Confirm Password
          </button>
        </div>
      </div>
    </form>
  </mat-card>
</div>

