
.container {
  display: flex;
  height: 100vh;
  justify-content: center;
}

.example-card {

  width: 450px;
  height: 500px;
  align-self: center;
}

.wrapper-0 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}
.wrapper {
display: flex;
justify-content: center;
}

.wrapper-1 {
display: flex;
justify-content: center;
}

.wrapper-2 {
  display: flex;
  justify-content: center;
}

.wrapper-3 {
  display: flex;
  justify-content: space-around;
}
mat-form-field {
  margin-right: 12px;
}

.alignedInput {
  width: 200px;
}

.singleInput {
  width: 410px;
}

