
.container {
  display: flex;
  height: 100vh;
  justify-content: center;
}

.example-card {

  width: 450px;
  height: 500px;
  align-self: center;
}

.wrapper-0 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}
.wrapper {
display: flex;
justify-content: center;
}

.wrapper-1 {
display: flex;
justify-content: center;
}

.wrapper-2 {
  display: flex;
  justify-content: center;
}

.wrapper-3 {
  display: flex;
  justify-content: space-around;
  margin-top: 12px;
}
mat-form-field {
  margin-right: 12px;
}

.alignedInput {
  width: 200px;
}

.singleInput {
  width: 410px;
}

.space {
  margin-top: 12px;
}

.mat-card {

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


h1 {
  color: rgb(14,77,146);
  font-family: sans-serif;
}
